<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <div class="home-container">
            <h1>Welcome to KayoBot</h1>
            <p>Choose your language to start an engaging conversation!</p>
            <div class="button-container">
                <a href="/chatbot_groq" class="button">Go to Arabic KayoBot</a>
                <a href="/chatbot_new" class="button">Go to English KayoBot</a>
            </div>
        </div>
    </div>
</body>
</html>

